@charset "utf-8";:root {--main-color:#004E81; align-items: flex-start;}
body { font-size: 1.5rem; line-height: 1.5; color: #101010; overflow-x: hidden;}
.inner { max-width: 1720px; margin: 0 auto; padding: 0 20px;}

.main {padding: 100px 0 300px; gap: 40px;}
.main .inner {position: relative;}
.menu li {float: left; margin-right: 20px; }
.menu li a { font-size: 2.5rem; font-weight: 600; border-bottom: 1px solid #d9d9d9; margin-bottom: 50px; padding-bottom: 10px;}
.menu li:hover a{ border-bottom: 1px solid var(--main-color);}
.cont {display: none; flex-direction: column; align-items: flex-start;  gap: 50px; position: absolute; z-index: -1; width: 100%;}
.cont.active {display: flex;}
.cont .map { position: absolute; top: 10%; left: 50%; transform: translateX(28%);}
.text {width: 100%;}
.text p:nth-child(1) {padding-top: 70px; background: url(../images/Directions/icon1.png) no-repeat bottom 4% left 12px;}
.text p:nth-child(2) { background: url(../images/Directions/icon2.png) no-repeat bottom 3% left 12px;}
.text p:nth-child(3){ background: url(../images/Directions/icon3.png) no-repeat bottom 6% left 12px;}

.text p { padding-top: 30px; padding-left: 40px;}
.menu li.is_on .btn{font-weight:bold; color:var(--main-color)}
